.nav {
    background-color: #e937b0;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
  
    .nav-list {
        list-style: none;
    .nav-links {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            margin: 5px;
            background: #7eeee5;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            
        }
    }
  }
  